.block {
    width: 150px;
    min-height: 411px;
    padding-top: 2px;
    border: 1px solid rgba(151,151,151,0.23);
    border-radius: 8px;
}
.adm-jumbo-tabs-tab-active .block {
    border: 2px solid #00baad;
}
.sku-box {
    background: #fefffe;
}
.header {
    min-height: 60px;
    border: 3px solid #fefffe;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.adm-jumbo-tabs-tab-active .header {
    background: linear-gradient(98.57deg, #15C7C5 0%, #2DD6B3 100%);
    
}
.adm-jumbo-tabs-tab-active, .adm-jumbo-tabs-tab-description {
    background-color: #fefffe!important;
}
.detail {
    background-color: #fefffe;
    min-height: 340px;
}
.btnwrapper {
    font-size: 16px;
    border: 1px solid #dedede;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btnwrapper div {
    width: 50%;
    text-align: center;
}
button {
    width: 50%;
}